
// ----- Colors -----
$tm-background: #f0f0f0;

$tm-yellow: #f1cf30;
$tm-white: white;
$tm-grey-dark: #333;
$tm-grey-light: #9b9b9b;

$tm-button-underline: rgba(0, 0, 0, 0.15);

// ----- Font sizes -----
$tm-title-large: 16px;
$tm-title-small: 14px;

$tm-text-large: 13px;
$tm-text-normal: 12px;
$tm-text-small: 11px;

// ----- Font family -----
$tm-font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;

// ----- Widths -----
$tm-playlist-list-width: 300px;
$tm-snapshot-list-width: 420px;
$tm-playlist-width: 370px;
