@import 'reset';
@import 'variables';

// Newlines are significant. All properties are sorted as follows:
//
//   .selector {
//     <layout styles>
//
//     <sizing styles>
//
//     <design styles>
//   }
//
// When one of these categories is absent, the newlines are combined. Within a
// category, we try to sort alphabetically unless a more logical order exists.
//
// Then again, most of these styles were written during a Hackathon. YMMV.

html, body {
  font-family: $tm-font-family;
  font-size: 100%;

  color: $tm-grey-dark;
  background-color: $tm-yellow;
}

// --- TMHeader ---

header {
  height: 60px;

  background: $tm-yellow;
}

.tm-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $tm-playlist-list-width + $tm-snapshot-list-width + $tm-playlist-width - 30px;
  margin: 0 auto;
  height: 100%;
}

.tm-brand-logo {
  height: 39px;
}

.tm-sign-out {
  color: white;
  text-decoration: none;
}

.tm-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

// --- General ---

.tm-main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
}

h1 {
  font-size: $tm-title-large;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;

  color: $tm-grey-light;
  font-size: $tm-text-normal;
  line-height: 1.4;
}

// --- PlaylistList ---

.tm-playlist-list {
  overflow-y: scroll;

  box-sizing: border-box;
  width: $tm-playlist-list-width;

  color: $tm-white;
  background: $tm-grey-dark;

  h1 {
    margin: 20px 25px;
    font-size: $tm-title-large;
  }
}

.tm-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 150px;

  img {
    height: 55px;
    width: 55px;

    border-radius: 28px;
  }

  .tm-user-name {
    margin-top: 20px;
  }
}

.tm-playlist-item {
  padding: 10px;
  padding-left: 20px;
  margin-top: 2px;

  background: rgba(155, 155, 155, 0.07);
  color: $tm-grey-light;
  cursor: pointer;
  font-size: $tm-title-small;

  &.active,
  &:hover {
    color: $tm-white;
    border-right: 5px solid $tm-yellow;
  }
}

// --- SnapshotList ---

.tm-snapshot-list {
  overflow-y: scroll;

  box-sizing: border-box;
  width: $tm-snapshot-list-width;

  padding: 35px;

  background-color: $tm-background;
}

.tm-button {
  display: block;
  float: right;
  margin-left: 35px;

  padding: 11px 0;
  width: 80px;

  background-color: $tm-yellow;
  border-bottom: 2px solid $tm-button-underline;
  border-radius: 5px;
  color: white;
  font-size: $tm-text-large;
  text-align: center;
  text-decoration: none;
}

.tm-snapshot-item {
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;

  padding: 8px 25px;

  background-color: $tm-white;
  border-right: 5px solid $tm-white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;

  &.active,
  &:hover {
    border-right: 5px solid $tm-yellow;
  }

  // DOTS!!!
  &:before {
    content: ' ';
    width: 18px;
    height: 18px;
    position: absolute;
    left: -28px;
    border: 6px solid $tm-yellow;
    border-radius: 9px;
    display: inline-block;
    box-sizing: border-box;
  }
  &:not(:last-child):after {
    content: '• • • • •';
    width: 7px;
    height: 70px;
    position: absolute;
    top: 28px;
    left: -22px;
    color: $tm-grey-light;
    display: block;
    box-sizing: border-box;
    line-height: 0.88;
  }
}

.tm-snapshot-item-title {
  margin-bottom: 10px;

  font-size: $tm-title-small;
}

.tm-snapshot-item-info {
  line-height: 1.5;

  color: $tm-grey-light;
  font-size: $tm-text-normal;
}

// --- Playlist ---

.tm-playlist {
  overflow-y: scroll;
  padding: 35px;

  box-sizing: border-box;
  width: $tm-playlist-width;

  background-color: $tm-white;
}

.tm-songs-table {
  margin: 30px -5px;
  border-collapse: separate;
  border-spacing: 5px 0;

  th {
    font-size: $tm-title-large;
  }
  td {
    max-width: 200px;
    padding: 13px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: $tm-grey-light;
    font-size: $tm-text-large;
  }
}
