@import 'reset';
@import 'variables';

html, body {
  font-family: $tm-font-family;
  height: 100%;

  color: $tm-white;
  font-size: 20px;
}

html {
  background: url('/img/background.png') no-repeat center center fixed;
  background-size: cover;
}

.outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  flex-shrink: 1;
  padding: 15px;
}

.banner-logo {
  max-width: 90%;
}


.banner-logo,
.tagline,
.description {
  font-size: 20px;
  margin: 10px 0;
  text-align: justify;
  line-height: 1.2;
}


.auth-button {
  margin: 10px 0;
  display: inline-block;

  padding: 15px 50px;

  color: $tm-white;
  background-color: $tm-yellow;
  border-radius: 20px;
  border-bottom: 3px solid $tm-button-underline;
  text-decoration: none;
}

.github-link {
  position: fixed;
  bottom: 15px;
  left: 50%;
  margin-left: -16px;
}
