@charset "UTF-8";
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 2, ../sass/_reset.scss */
html {
  line-height: 1;
}

/* line 2, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 2, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 2, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 2, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/app.scss */
html, body {
  font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 100%;
  color: #333;
  background-color: #f1cf30;
}

/* line 29, ../sass/app.scss */
header {
  height: 60px;
  background: #f1cf30;
}

/* line 35, ../sass/app.scss */
.tm-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
  height: 100%;
}

/* line 44, ../sass/app.scss */
.tm-brand-logo {
  height: 39px;
}

/* line 48, ../sass/app.scss */
.tm-user-header {
  display: flex;
  align-items: center;
}
/* line 52, ../sass/app.scss */
.tm-user-header img {
  display: inline-block;
  margin-right: 15px;
  height: 30px;
  border-radius: 15px;
}

/* line 62, ../sass/app.scss */
.tm-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* line 70, ../sass/app.scss */
.tm-main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
}

/* line 77, ../sass/app.scss */
h1 {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 82, ../sass/app.scss */
p {
  margin-bottom: 20px;
  color: #9b9b9b;
  font-size: 12px;
  line-height: 1.4;
}

/* line 92, ../sass/app.scss */
.tm-playlist-list {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 300px;
  color: white;
  background: #333;
}
/* line 101, ../sass/app.scss */
.tm-playlist-list h1 {
  margin: 20px 25px;
  font-size: 16px;
}

/* line 107, ../sass/app.scss */
.tm-user {
  display: flex;
  justify-content: center;
  height: 150px;
}
/* line 113, ../sass/app.scss */
.tm-user img {
  align-self: center;
  height: 55px;
  width: 55px;
  border-radius: 28px;
}

/* line 123, ../sass/app.scss */
.tm-playlist-item {
  padding: 10px;
  padding-left: 20px;
  margin-top: 2px;
  background: rgba(155, 155, 155, 0.07);
  color: #9b9b9b;
  cursor: pointer;
  font-size: 14px;
}
/* line 133, ../sass/app.scss */
.tm-playlist-item.active {
  color: white;
  border-right: 5px solid #f1cf30;
}

/* line 141, ../sass/app.scss */
.tm-snapshot-list {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 420px;
  padding: 35px;
  background-color: #f0f0f0;
}

/* line 152, ../sass/app.scss */
.tm-button {
  display: block;
  float: right;
  margin-left: 35px;
  padding: 11px 0;
  width: 80px;
  background-color: #f1cf30;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

/* line 169, ../sass/app.scss */
.tm-snapshot-item {
  position: relative;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 8px 25px;
  background-color: white;
  border-right: 5px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
/* line 182, ../sass/app.scss */
.tm-snapshot-item.active, .tm-snapshot-item:hover {
  border-right: 5px solid #f1cf30;
}
/* line 188, ../sass/app.scss */
.tm-snapshot-item:before {
  content: ' ';
  width: 18px;
  height: 18px;
  position: absolute;
  left: -28px;
  border: 6px solid #f1cf30;
  border-radius: 9px;
  display: inline-block;
  box-sizing: border-box;
}
/* line 199, ../sass/app.scss */
.tm-snapshot-item:not(:last-child):after {
  content: '• • • • •';
  width: 7px;
  height: 70px;
  position: absolute;
  top: 28px;
  left: -22px;
  color: #9b9b9b;
  display: block;
  box-sizing: border-box;
  line-height: 0.88;
}

/* line 213, ../sass/app.scss */
.tm-snapshot-item-title {
  margin-bottom: 10px;
  font-size: 14px;
}

/* line 219, ../sass/app.scss */
.tm-snapshot-item-info {
  line-height: 1.5;
  color: #9b9b9b;
  font-size: 12px;
}

/* line 228, ../sass/app.scss */
.tm-playlist {
  overflow-y: scroll;
  padding: 35px;
  box-sizing: border-box;
  width: 370px;
  background-color: white;
}

/* line 238, ../sass/app.scss */
.tm-songs-table {
  margin: 30px -5px;
  border-collapse: separate;
  border-spacing: 5px 0;
}
/* line 243, ../sass/app.scss */
.tm-songs-table th {
  font-size: 16px;
}
/* line 246, ../sass/app.scss */
.tm-songs-table td {
  max-width: 200px;
  padding: 13px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 13px;
}
