extends layout

block head
  link(rel="stylesheet", href="/css/app.css")

block content
  noscript
    h1.noscript Whoa there!
    p.noscript TuneMachine makes heavy use of JavaScript.
  #tm-target
  #tm-modal-target

block scripts
  script(src='/js/bundle.js')
