extends layout

block head
  link(rel="stylesheet", href="/css/login.css")

block content
  .outer-wrapper
    .content-wrapper
      img.banner-logo(src="/img/logo-white-text.png")
      .tagline.
        a time machine for your Spotify tunes
      .description.
        TuneMachine is a simple (hackathon) project that lets you "version
        control" your Spotify playlists. Basically, it lets you take Spotify
        playlists back in time. It's much more interesting once you link your
        Spotify account, so perhaps you'd like to...
      a.auth-button(href="/auth/login") Sign in with Spotify
      .description.
        There's more information on our GitHub page.
  a.github-link(href="https://github.com/jez/tunemachine")
    img(src="/img/github-white-32px.png")
