doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    meta(charset="utf-8")
    // TODO: Mobile responsive
    //meta(name="viewport", content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="description", content="TuneMachine: A time machine for your Spotify tunes!")

    //- See also: /favicon.ico
    // TODO: Favicon
    //link(rel="icon", href="/favicon.png")

    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="/css/style.css")

    // TODO: Canonical URLs
    //link(rel="canonical", href="https://jez.io/")
  body
    block content
    script(src='/js/bundle.js')
