extends layout

block head
  link(rel="stylesheet", href="/css/login.css")

block content
  .outer-wrapper
    .content-wrapper
      img.banner-logo(src="/img/logo-white-transparent.png")
      .tagline.
        a time machine for your Spotify tunes
      a.auth-button(href="/auth/login") Sign in with Spotify
  a.github-link(href="https://github.com/bezi/a16zhack")
    img(src="/img/github-white-32px.png")
